#  Conditional Statement or Control Flow Statement :-

In [11]:
a = 10                      #Single equal to use for Assignment operator.
if a == 10 :                # Double equal to is use for comparision operator.
    print("this is my first condition")

this is my first condition

In [12]:
a = 10
if a == 11 :
    print("this is my first condition")

In [13]:
a = 10
if a > 5 :

IndentationError: expected an indented block (Temp/ipykernel_12960/1615547911.py, line 3)

In [14]:
a = 10
if a > 5 :
    pass

In [15]:
a = 10
if a > 8 :
    print("print this if condition is true")

print this if condition is true

In [16]:
a = 10
if a < 8 :
    print("print this if condition is true")

In [17]:
a = 10
if a != 11:
    print("My condition is false")
else:
    print("print this")

My condition is false

In [18]:
a = 10
if a == 11:
    print("My condition is false")
else:
    print("print this")

print this

In [19]:
a = 10
if a == 12 :
    print("Here we are trying to compare 10 with 12")
elif a== 11 :
    print("We are trying to compare 10 with 11")
else :
    print("if all the block will fail then do this")

if all the block will fail then do this

In [20]:
a = 10
if a == 12 :
    print("Here we are trying to compare 10 with 12")
elif a== 10 :
    print("We are trying to compare 10 with 11")
else :
    print("if all the block will fail then do this")

We are trying to compare 10 with 11

In [21]:
price = 500
if price >500 :
    print(" May be i wont be able to buy a jacket")
elif price < 500 :
    print("I will be able to buy a jacket")

In [22]:
price = 500
if price >500 :
    print(" May be i wont be able to buy a jacket")
elif price <= 500 :
    print("I will be able to buy a jacket")

I will be able to buy a jacket

In [23]:
price = 500
if price >500 :
    print(" May be i wont be able to buy a jacket")
elif price < 500 :
    print("I will be able to buy a jacket")
else price == 500 :      # In Else condition we do not give any condition statement.
    print(" i dont know")

SyntaxError: invalid syntax (Temp/ipykernel_12960/729993159.py, line 6)

In [24]:
price = 500
if price >500 :
    print(" May be i wont be able to buy a jacket")
elif price < 500 :
    print("I will be able to buy a jacket")
elif price == 500 :
    print(" for sure i will buy a jacket")
else :
    print(" i dont know")

 for sure i will buy a jacket

In [25]:
price >500

False

In [26]:
price < 500

False

In [27]:
price == 500

True

In [29]:
l = [1,2,3,4,5,6]
2 in l

True

In [30]:
if 2 in l :
    print("try to perform a task")
else :
    print("do not perform this task")

try to perform a task

In [31]:
if 60 in l :
    print("try to perform a task")
else :
    print("do not perform this task")

do not perform this task

In [32]:
l

[1, 2, 3, 4, 5, 6]

In [33]:
if 1 in l :
    print("Try to do addition")
elif 2 in l :
    print("try to do substraction")
elif 3 in l :
    print("try to do multiplication")

Try to do addition

In [34]:
if 10 in l :
    print("Try to do addition")
elif 2 in l :
    print("try to do substraction")
elif 3 in l :
    print("try to do multiplication")

try to do substraction

In [35]:
if 10 in l :
    print("Try to do addition")
elif 2 in l :
    print("try to do substraction")
elif 3 in l :
    print("try to do multiplication")
if 4 in l :
    print("this is new statement")

try to do substraction
this is new statement

In [36]:
a = 400

In [37]:
b = input()

33

In [38]:
type(b)

str

In [39]:
price = int(input())
if price < 500 :
    print("I will be able to buy something")
    if price < 400 :
        print("I will be able to buy a jacket")
    elif price < 300 :
        print("I will be able to buy a shirt")
    else :
        print("I wont be able to buy anything")
else :
    print("I wont be able to buy anything with this price tag")

490
I will be able to buy something
I wont be able to buy anything

In [40]:
price = int(input())
if price < 500 :
    print("I will be able to buy something")
    if price < 400 :
        print("I will be able to buy a jacket")
    elif price < 300 :
        print("I will be able to buy a shirt")
    else :
        print("I wont be able to buy anything")
else :
    print("I wont be able to buy anything with this price tag")

390
I will be able to buy something
I will be able to buy a jacket

In [41]:
price = int(input())
if price < 500 :
    print("I will be able to buy something")
    if price < 400 :
        print("I will be able to buy a jacket")
    elif price < 300 :
        print("I will be able to buy a shirt")
    else :
        print("I wont be able to buy anything")
else :
    print("I wont be able to buy anything with this price tag")

260
I will be able to buy something
I will be able to buy a jacket

In [42]:
price = int(input())
if price < 500 :
    print("I will be able to buy something")
    if price < 400 :
        print("I will be able to buy a jacket")
    elif price < 300 :
        print("I will be able to buy a shirt")
        if price < 200 :
            print("I would like to do something")
    else :
        print("I wont be able to buy anything")
else :
    print("I wont be able to buy anything with this price tag")
    if price > 500 :
        print("Lets try something else")

5666
I wont be able to buy anything with this price tag
Lets try something else

In [45]:
mark = int(input())
if mark < 600 :
    print(" No GRE")
    if mark <500 :
        print (" No TOFEL")
    elif mark < 400 :
            print(" Try something else")
    else :
        print(" YOU GOT TOFEL")
else :
    print("Congratulations, You Clear GRE ")

444
 No GRE
 No TOFEL

In [47]:
mark = int(input())
if mark < 600 :
    print("No GRE")
    if mark < 500 :
        print("NO TOFEL") 
    elif mark < 400 :
            print("try something else")
    else :
        print("You Got selected in TOFEL")
        
else :
    print("You got Selected in GRE")

333
No GRE
NO TOFEL

In [48]:
val = float(input("enter a floating point number"))
if val >= 0 :
    if val == 0:
        print("entered value is zero")
    else :
            print("entered value is a positive number")
else :
    print("entered number is a negative number")

enter a floating point number1
entered value is a positive number

In [49]:
a = 10 
if a <=10 :
    print("Try to do something")

Try to do something

In [50]:
a = 10 
if a <10 or a == 10 :
    print("Try to do something")

Try to do something

In [51]:
a = 10 
if a <10 or a > 10 :
    print("Try to do something")

In [52]:
a = 10 
if a <10 and a > 10 :
    print("Try to do something")

In [53]:
a = 10 
if a <10 and a == 10 :
    print("Try to do something")

In [54]:
a = "sudh"
if a == "sudh" and a =="Sudh" :
    print(" this is sudh")

In [55]:
a = "sudh"
if a == "sudh" or a =="Sudh" :
    print(" this is sudh")

 this is sudh

In [56]:
a = 10
b = 11
c = 12
d = 13
if a == 9 and b == 11 and c == 12 and d == 13 :
    print("lets do something")

In [57]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13 :
    print("lets do something")

lets do something

In [58]:
d = {'key1': "value" , 'key2' : "sudh" ,'key3' : "iNeuron"}

In [59]:
d

{'key1': 'value', 'key2': 'sudh', 'key3': 'iNeuron'}

In [60]:
d['key1']

'value'

In [61]:
if d['key1'] == "value" and d['key2'] == "sudh" and d['key3'] == "iNeuron" :
    print("all the value are verified")
    print(d.values())

all the value are verified
dict_values(['value', 'sudh', 'iNeuron'])

In [62]:
if d['key1'] == "value" and d['key2'] == "Sudh" and d['key3'] == "iNeuron" :
    print("all the value are verified")
    print(d.values())
else :
    print("all the value are not verified")

all the value are not verified

In [63]:
d['key1']

'value'

In [64]:
l =[1,2,3,4,5,"sudh", 234.45]

In [65]:
l[0]

1

In [66]:
l[2:5]

[3, 4, 5]

In [67]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [68]:
for i in l :
    print(i)

1
2
3
4
5
sudh
234.45

In [69]:
for i in l :
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [70]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [71]:
for i in l :
    if type(i) == int :
        print(i+1)
    elif type(i) == str :
        print(i + str(1))

2
3
4
5
6
sudh1

In [72]:
for i in l :
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str :
        print(i + str(1))

2
3
4
5
6
sudh1
235.45

In [73]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [74]:
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)

In [75]:
l1

[1, 2, 3, 4, 5]

In [76]:
mark = int(input())
if mark < 600 :
    print("No GRE")
    if mark < 500 :
        print("NO TOFEL") 
    elif mark < 400 :
            print("try something else")
    else :
        print("You Got selected in TOFEL")
        
else :
    print("You got Selected in GRE")

333
No GRE
NO TOFEL