#  Introduction to for Loop

In [3]:
l = [1,2,3,4,"sudh", "kumar", 45.56]

In [4]:
for i in l :
    print(i)

1
2
3
4
sudh
kumar
45.56

In [5]:
for i in l :   # Wrong concept not to be written in this form.
    print(l)

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [6]:
for i in l :

IndentationError: expected an indented block (Temp/ipykernel_11548/375048624.py, line 2)

In [8]:
for i in l :
    pass

In [10]:
s = "sudh"
for i in s :
    print(i)

s
u
d
h

In [12]:
t = "sudh", "ambar","ashu","abhi"
for i in t:
    print(i)

sudh
ambar
ashu
abhi

In [13]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [14]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [17]:
for i in l :
    if i == 4 :
        break
    print(i)
else:
    print("this will execute only if for is going to complete itself ")

1
2
3

In [133]:
for i in l :
    if type(i) == str :
        print(i +str(1))
else:
    print("this will execute only if for is going to complete itself ")

sudh1
kumar1
sudhanshu@ineuron.ai1
this will execute only if for is going to complete itself

In [20]:
s = "sudhanshu"
for i in s :
    if i == 'n' :
        break
    print(i)
else :
    print("print string " , s)

s
u
d
h
a

In [22]:
s = "sudhanshu"
for i in s :
    if i == 'z' :
        break
    print(i)
else :
    print("print string " , s)

s
u
d
h
a
n
s
h
u
print string  sudhanshu

In [25]:
t = (4,5,6,7,8,6, "sudh")

for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [26]:
b = {4,5,6,7,7,7,7,7,7,7,7,8,"sudh"}

In [27]:
type(b)

set

In [28]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [31]:
for i in b :
    print(i, end = " ")

4 5 6 7 8 sudh

In [32]:
d = {'key1' : "sudh", 'contact' : "sudhanshu@ineuron.ai", 'position': "xyz"}

In [36]:
for i in d:
    print(i)

key1
contact
position

In [37]:
for i in d:
    print(d[i])

sudh
sudhanshu@ineuron.ai
xyz

In [38]:
d['key1']

'sudh'

In [40]:
for i in d:
    print(i,":", d[i])

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [41]:
range(9) # range function is used to generate data range..

range(0, 9)

In [42]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [49]:
for i in range(9):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8

In [46]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [47]:
list(range(0,9, 2))

[0, 2, 4, 6, 8]

In [48]:
list(range(0,9, -1))

[]

In [50]:
list(range(9,0, -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [132]:
n = 4
for i in range(4) :
    for j in range(0, i+1) :
        print("sudh", end = " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [52]:
n = 4
for i in range(4) :
    for j in range(0, i+1) :
        print("*", end = " ")
    print("\n")

*

* *

* * *

* * * *

In [56]:
n = 3
for i in range(n):
    for j in range(i, n-1) :
        print(" " * len("sudh"), end= " ")
    for j in range(i+1) :
        print("sudh",end= " ")
    for j in range(i) :
        print("sudh",end= " ")  
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [60]:
t = (3,23,45,67,2,4,5,6)

for i in range(len(t)) :
    print(i,":", t[i])

0 : 3
1 : 23
2 : 45
3 : 67
4 : 2
5 : 4
6 : 5
7 : 6

In [61]:
t

(3, 23, 45, 67, 2, 4, 5, 6)

In [62]:
range(len(t))

range(0, 8)

In [64]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [65]:
t

(3, 23, 45, 67, 2, 4, 5, 6)

In [66]:
for i in range(len(t)) :
    print(i, ":",t[i])

0 : 3
1 : 23
2 : 45
3 : 67
4 : 2
5 : 4
6 : 5
7 : 6

In [73]:
s = "ineuron"

In [74]:
range(len(s))

range(0, 7)

In [76]:
list(range(len(s)))

[0, 1, 2, 3, 4, 5, 6]

In [77]:
list(range(len(s),0 ,-1))

[7, 6, 5, 4, 3, 2, 1]

In [78]:
list(range(len(s),-1 ,-1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [81]:
for i in range(len(s)-1,-1 ,-1) :
    print(i, s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [82]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [83]:
d.items()

dict_items([('key1', 'sudh'), ('contact', 'sudhanshu@ineuron.ai'), ('position', 'xyz')])

In [84]:
for i in d.items() :
    print(i)

('key1', 'sudh')
('contact', 'sudhanshu@ineuron.ai')
('position', 'xyz')

In [85]:
for i in d.items() :
    print(i, type(i))

('key1', 'sudh') <class 'tuple'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'>
('position', 'xyz') <class 'tuple'>

In [86]:
for i in d.items() :
    print(i, type(i), type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [87]:
l = ["sudh", "kumar", 3234545,"sudhanshu@ineuron.ai", 345,34345353]

In [90]:
l = ["sudh", "kumar", 3234545,"sudhanshu@ineuron.ai", 345,34345353]

l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)

In [91]:
l1

[3234545, 345, 34345353]

In [92]:
l = ["sudh", "kumar", 3234545,"sudhanshu@ineuron.ai", 345,34345353]

l2 = []
for i in l:
    if type(i) == str:
        l1.append(i)

In [93]:
l2

[]

In [96]:
d = {1 : 3345345 , 'name' : "sudh" , 'email_id' : "sudhanshu@ineuron.ai", 234 : "fsfddsf" , 234 : "3454"}

In [98]:
for i in d :
    print(i)

1
name
email_id
234

In [97]:
for i in d :
    if type(i) == int :
        print(i, ":", d[i])

1 : 3345345
234 : 3454

In [101]:
s ="aaaabbccd"

In [137]:
set(s)

{'a', 'b', 'c', 'd'}

In [104]:
s.count("a")

4

In [103]:
for i in set(s):
    print(i, ":", s.count(i))

d : 1
b : 2
a : 4
c : 2

In [105]:
i = 34534654646435
for j in i :
    print(j)

TypeError: 'int' object is not iterable

i = 34534654646435

In [106]:
str(i)

'34534654646435'

In [107]:
i = 34534654646435

for j in str(i) :
    print(int(j),type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [108]:
t =("sudh", "kumar", [1,2,3,4,5], (3,4,5,6), {'key1' : "sudh" , 'key2' : "kumar"})

In [111]:
for i in t :
    if t == int :
        elif int == 3:
        break
else :
        print(i)

SyntaxError: invalid syntax (Temp/ipykernel_11548/376149822.py, line 3)

In [112]:
for i in t :
    print(i)

sudh
kumar
[1, 2, 3, 4, 5]
(3, 4, 5, 6)
{'key1': 'sudh', 'key2': 'kumar'}

In [114]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)

3
3

In [115]:
t

('sudh',
 'kumar',
 [1, 2, 3, 4, 5],
 (3, 4, 5, 6),
 {'key1': 'sudh', 'key2': 'kumar'})

In [116]:
t =("sudh", "kumar", [1,2,3,4,5], (3,4,5,6), {3: "sudh" , 'key2' : "kumar"})

for i in t :
    if type(i) == list or type(i) == tuple or type(i)== dict :
        for j in i :
            if j == 3 :
                print(j)

3
3
3

In [120]:
t =("sudh", "kumar", [1,2,3,4,5], (3,4,5,6), {3: 3 , 'key2' : "kumar"})

for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
3

In [121]:
d ={4 : 5, 'key1' : "sudh", 'key2' : "kumar"}

In [122]:
for i in d.items() :
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

In [135]:
for i,j in d.items() :
    print(i)

4
key1
key2

In [136]:
for i,j in d.items() :
    print(i, d[i])

4 5
key1 sudh
key2 kumar

In [123]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [ ]:
a = 10
b = 20
c = 30

In [124]:
a,b,c = 10, 20, 30

In [125]:
a,b,c =(10,20,30)

In [128]:

"""
Q.1)

ineuron 
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron


q.2)

.....*.....*ineuron.....*.....*
.....*ineuron.....*ineuron.....*
ineuron.....*ineuron.....*ineuron
.....*ineuron.....*ineuron.....*
.....*.....*ineuron.....*.....*








""" l =[[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]),{'k1' : "sudh" , 'k2' : "ineuron", 'k3' : 
                                                     "kumar", 3:6, 7:8}, ["ineuron", "data science"]] """


q.3) Try to extract all the list entity.
q.4) Try to extract all the dict entity.
q.5) Try to extract all the Tuples entity.
q.6) Try to extract all the Numeric data it may be a part of dict key and values.
q.7) Try to give summation of all the numeric data.
q.8) Try to filter out all the odd values out all numeric datawhich is  a part of a list.
q.9) Try to extract "ineuron" out of this dataset.
q.10) Try to find out a number of occurance of all the data.
q.11) Try to find out a number of keys in dict element.
q.12) Try to filter out all the string data.
q.13) Try to find out alphanum in data.
q.14) Try to find out multiplication of all numeric value in the individual collection inside dataset.
q.15) Try to unwrape all the collection inside collection and create a flat list.


Submit before 29th May 3 pm Ist, you have to send an answer to me or to shivan.
sudhanshu@ineuron.ai
shivan@ineuron.ai

"""

SyntaxError: invalid syntax (Temp/ipykernel_11548/3702255155.py, line 25)

"""
Q.1)

ineuron 
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron


q.2)

.....*.....*ineuron.....*.....*
.....*ineuron.....*ineuron.....*
ineuron.....*ineuron.....*ineuron
.....*ineuron.....*ineuron.....*
.....*.....*ineuron.....*.....*








""" l =[[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]),{'k1' : "sudh" , 'k2' : "ineuron", 'k3' : 
                                                     "kumar", 3:6, 7:8}, ["ineuron", "data science"]] """


q.3) Try to extract all the list entity.
q.4) Try to extract all the dict entity.
q.5) Try to extract all the Tuples entity.
q.6) Try to extract all the Numeric data it may be a part of dict key and values.
q.7) Try to give summation of all the numeric data.
q.8) Try to filter out all the odd values out all numeric datawhich is  a part of a list.
q.9) Try to extract "ineuron" out of this dataset.
q.10) Try to find out a number of occurance of all the data.
q.11) Try to find out a number of keys in dict element.
q.12) Try to filter out all the string data.
q.13) Try to find out alphanum in data.
q.14) Try to find out multiplication of all numeric value in the individual collection inside dataset.
q.15) Try to unwrape all the collection inside collection and create a flat list.


Submit before 29th May 3 pm Ist, you have to send an answer to me or to shivan.
sudhanshu@ineuron.ai
shivan@ineuron.ai

"""